DELETE*
.DS_Store
deploy.tar
.env
.env.*
!.env.example
node_modules
temporary-captain-to-deploy.tar
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/build
/disabled
/package
/.svelte-kit
/tmp

# Sentry Config File
.sentryclirc
test-results
src/lib/errorLogger.ts
.github/x build.yml
src/routes/search/_page.server copy.ts
